<div class="column is-4">
    <div class="block homeblock">
    <h1>Dobrica's Digital Garden</h1>
    
    <p>
        Hello there, my name is Dobrica and I'm a backend-developer-gone-devops from Serbia. 
        This is my digital garden, which is a fancy way of saying "a place where I put notes about the things I learn".
    </p>
        
    <p>
        Go to <a href="../notes"> notes </a> to check out what i've been working on. To get started, check out one of these maps of content:
    </p>
    <ul>
        <li><a href="../notes/Kubernetes">Kubernetes</a></li>
        <li><a href="../notes/Docker">Docker</a></li>   
        <li><a href="../notes/SRE">SRE</a></li>   
        <li><a href="../notes/Software-Design">Software Design</a></li>   
        <li><a href="../notes/Philosophy">Philosophy</a></li>   
        
    </ul>
        
    <p>
        If you are interested in how the setup of this digital garden looks like, check <a href="../notes/My-Digital-Garden-setup">this note</a> out.
    </p>
    
    </div>
</div>
