<div class="column is-4">
  <div class="block homeblock">
    <h1>Dobrica's Digital Garden</h1>

    <p>
      Hello there, my name is Dobrica Savić, and I'm a backend-developer-gone-devops
      from Serbia. This is my digital garden, which is a fancy way of saying "a
      place where I put notes about the things I learn".
    </p>

    <p>
      To check out what I've been working onexplore the graph on this page, or click the button below.
    </p>
    <a class="button" onclick="window.location.assign('/notes');">View All Notes</a>

    <p>
      If you are interested in how the setup of this digital garden looks like,
      check <a href="../notes/My-Digital-Garden-setup">this note</a> out.
    </p>
  </div>
</div>
